{% extends 'common/base.html' %}
{% load static %}

{% block title %}directions/contact{% endblock %}

{% block directionscontact %}active{% endblock %}

{% block content %}
<div class="container-fluid nopad pagefade">
  <div class="row no-gutters title">
    <div class="col-9 offset-2 col-md-5 offset-md-0 col-lg-4 offset-lg-0 col-xl-3 section-title-container">
      <h1 class="display-4 black-text animated fadeInLeft section-title align-self-center" style="font-size:2.5rem;">
        directions/contact
      </h1>
    </div>
    <div
      class="col-9 offset-2 col-md-7 offset-md-0 col-lg-8 offset-lg-0 col-xl-9 animated fadeInRight content scrollable" style="padding-top: 50px; padding-right: 50px;">
      <p class="text-center">For inquiries, please contact the lab at <a href="mailto:gratton.laboratory@gmail.com"
          style="white-space:nowrap;">gratton.laboratory@gmail.com</a>
      </p>
      <p class="text-center">You can read a statement on our lab values <a href="https://www.grattonlab.org/values"
          style="white-space:nowrap;">here</a>.
      </p>
      <p class="text-center">Our lab has recently moved to the Beckman Institute at the University of Illinois Urbana-Champaign:
      </p>
      <p class="text-center">1432 Beckman Institute, 
        405 N Mathews Ave,
        Urbana, IL 61801
      </p>
      <div class="embed-responsive embed-responsive-16by9" style="margin-left: auto; margin-right: auto; max-width: 1000px;">
        <iframe allowfullscreen="" class="embed-responsive-item"
          src= "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12204.758289373785!2d-88.2274514!3d40.1157786!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880cd726f414df7d%3A0x687e0e256a4bcc1!2sBeckman%20Institute!5e0!3m2!1sen!2sus!4v1724785254237!5m2!1sen!2sus">
        </iframe>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
